# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawCachesClient, RawCachesClient
from .types.delete_all_cached_responses_response import DeleteAllCachedResponsesResponse
from .types.delete_cached_responses_response import DeleteCachedResponsesResponse
from .types.filter_cached_responses_response import FilterCachedResponsesResponse
from .types.get_cached_responses_summary_response import GetCachedResponsesSummaryResponse
from .types.get_filtered_cached_responses_summary_response import GetFilteredCachedResponsesSummaryResponse
from .types.list_cached_responses_response import ListCachedResponsesResponse
from .types.retrieve_cached_response_response import RetrieveCachedResponseResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class CachesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawCachesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawCachesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawCachesClient
        """
        return self._raw_client

    def list_cached_responses(
        self,
        *,
        authorization: str,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListCachedResponsesResponse:
        """
        List cached responses with pagination and live hit count enrichment. Returns organization-level cache savings in `summary` and paginated cache entries in `data`. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Number of results to return per page. Maximum 1000.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListCachedResponsesResponse
            Cached responses plus aggregate cache savings.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.list_cached_responses(
            authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
        )
        """
        _response = self._raw_client.list_cached_responses(
            authorization=authorization, page=page, page_size=page_size, request_options=request_options
        )
        return _response.data

    def filter_cached_responses(
        self,
        *,
        authorization: str,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> FilterCachedResponsesResponse:
        """
        List cached responses using POST-for-filtering. This endpoint returns the same response shape as `GET /api/caches/` and currently requires dashboard JWT authentication.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Number of results to return per page. Maximum 1000.

        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        FilterCachedResponsesResponse
            Filtered cached responses plus aggregate cache savings.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.filter_cached_responses(
            authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
        )
        """
        _response = self._raw_client.filter_cached_responses(
            authorization=authorization,
            page=page,
            page_size=page_size,
            filters=filters,
            request_options=request_options,
        )
        return _response.data

    def delete_cached_responses(
        self, *, authorization: str, ids: typing.Sequence[int], request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteCachedResponsesResponse:
        """
        Delete cached responses in bulk by numeric cache entry ID. This cache management endpoint currently requires dashboard JWT authentication. To remove every cached response for the current organization, use `DELETE /api/caches/delete-all/`.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        ids : typing.Sequence[int]
            Numeric cache entry IDs to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteCachedResponsesResponse
            Bulk delete result.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.delete_cached_responses(
            authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
            ids=[123, 124, 125],
        )
        """
        _response = self._raw_client.delete_cached_responses(
            authorization=authorization, ids=ids, request_options=request_options
        )
        return _response.data

    def retrieve_cached_response(
        self, id: int, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveCachedResponseResponse:
        """
        Retrieve a single cached response by numeric cache entry ID. The current backend route is `/api/cache/{id}/`; there is no public lookup route by `cache_key`. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        id : int
            Numeric cache entry ID returned by the list endpoint.

        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveCachedResponseResponse
            Cached response details.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.retrieve_cached_response(
            id=1,
            authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
        )
        """
        _response = self._raw_client.retrieve_cached_response(
            id, authorization=authorization, request_options=request_options
        )
        return _response.data

    def get_cached_responses_summary(
        self, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> GetCachedResponsesSummaryResponse:
        """
        Return the total number of cached responses. This endpoint supports both JWT and API key authentication.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY` for API key auth or `Bearer <JWT>` for dashboard auth.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetCachedResponsesSummaryResponse
            Summary statistics for cached responses.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.get_cached_responses_summary(
            authorization="Bearer sk_live_xxxxx",
        )
        """
        _response = self._raw_client.get_cached_responses_summary(
            authorization=authorization, request_options=request_options
        )
        return _response.data

    def get_filtered_cached_responses_summary(
        self,
        *,
        authorization: str,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetFilteredCachedResponsesSummaryResponse:
        """
        Return the total number of cached responses after applying filters. This endpoint supports both JWT and API key authentication.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY` for API key auth or `Bearer <JWT>` for dashboard auth.

        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetFilteredCachedResponsesSummaryResponse
            Filtered cache summary statistics.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.get_filtered_cached_responses_summary(
            authorization="Bearer sk_live_xxxxx",
        )
        """
        _response = self._raw_client.get_filtered_cached_responses_summary(
            authorization=authorization, filters=filters, request_options=request_options
        )
        return _response.data

    def delete_all_cached_responses(
        self, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteAllCachedResponsesResponse:
        """
        Delete all cached responses for the current organization. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteAllCachedResponsesResponse
            Delete-all result.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.caches.delete_all_cached_responses(
            authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
        )
        """
        _response = self._raw_client.delete_all_cached_responses(
            authorization=authorization, request_options=request_options
        )
        return _response.data


class AsyncCachesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawCachesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawCachesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawCachesClient
        """
        return self._raw_client

    async def list_cached_responses(
        self,
        *,
        authorization: str,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListCachedResponsesResponse:
        """
        List cached responses with pagination and live hit count enrichment. Returns organization-level cache savings in `summary` and paginated cache entries in `data`. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Number of results to return per page. Maximum 1000.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListCachedResponsesResponse
            Cached responses plus aggregate cache savings.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.list_cached_responses(
                authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_cached_responses(
            authorization=authorization, page=page, page_size=page_size, request_options=request_options
        )
        return _response.data

    async def filter_cached_responses(
        self,
        *,
        authorization: str,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> FilterCachedResponsesResponse:
        """
        List cached responses using POST-for-filtering. This endpoint returns the same response shape as `GET /api/caches/` and currently requires dashboard JWT authentication.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Number of results to return per page. Maximum 1000.

        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        FilterCachedResponsesResponse
            Filtered cached responses plus aggregate cache savings.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.filter_cached_responses(
                authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.filter_cached_responses(
            authorization=authorization,
            page=page,
            page_size=page_size,
            filters=filters,
            request_options=request_options,
        )
        return _response.data

    async def delete_cached_responses(
        self, *, authorization: str, ids: typing.Sequence[int], request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteCachedResponsesResponse:
        """
        Delete cached responses in bulk by numeric cache entry ID. This cache management endpoint currently requires dashboard JWT authentication. To remove every cached response for the current organization, use `DELETE /api/caches/delete-all/`.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        ids : typing.Sequence[int]
            Numeric cache entry IDs to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteCachedResponsesResponse
            Bulk delete result.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.delete_cached_responses(
                authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                ids=[123, 124, 125],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete_cached_responses(
            authorization=authorization, ids=ids, request_options=request_options
        )
        return _response.data

    async def retrieve_cached_response(
        self, id: int, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveCachedResponseResponse:
        """
        Retrieve a single cached response by numeric cache entry ID. The current backend route is `/api/cache/{id}/`; there is no public lookup route by `cache_key`. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        id : int
            Numeric cache entry ID returned by the list endpoint.

        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveCachedResponseResponse
            Cached response details.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.retrieve_cached_response(
                id=1,
                authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve_cached_response(
            id, authorization=authorization, request_options=request_options
        )
        return _response.data

    async def get_cached_responses_summary(
        self, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> GetCachedResponsesSummaryResponse:
        """
        Return the total number of cached responses. This endpoint supports both JWT and API key authentication.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY` for API key auth or `Bearer <JWT>` for dashboard auth.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetCachedResponsesSummaryResponse
            Summary statistics for cached responses.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.get_cached_responses_summary(
                authorization="Bearer sk_live_xxxxx",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_cached_responses_summary(
            authorization=authorization, request_options=request_options
        )
        return _response.data

    async def get_filtered_cached_responses_summary(
        self,
        *,
        authorization: str,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetFilteredCachedResponsesSummaryResponse:
        """
        Return the total number of cached responses after applying filters. This endpoint supports both JWT and API key authentication.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY` for API key auth or `Bearer <JWT>` for dashboard auth.

        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetFilteredCachedResponsesSummaryResponse
            Filtered cache summary statistics.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.get_filtered_cached_responses_summary(
                authorization="Bearer sk_live_xxxxx",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_filtered_cached_responses_summary(
            authorization=authorization, filters=filters, request_options=request_options
        )
        return _response.data

    async def delete_all_cached_responses(
        self, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteAllCachedResponsesResponse:
        """
        Delete all cached responses for the current organization. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        authorization : str
            Bearer JWT token for dashboard-authenticated cache management endpoints.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteAllCachedResponsesResponse
            Delete-all result.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.caches.delete_all_cached_responses(
                authorization="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete_all_cached_responses(
            authorization=authorization, request_options=request_options
        )
        return _response.data
