# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawCachesClient, RawCachesClient
from .types.bulk_delete_cached_responses_response import BulkDeleteCachedResponsesResponse
from .types.delete_cached_responses_response import DeleteCachedResponsesResponse
from .types.filter_cached_responses_response import FilterCachedResponsesResponse
from .types.get_filtered_cached_responses_summary_response import GetFilteredCachedResponsesSummaryResponse
from .types.retrieve_cached_response_response import RetrieveCachedResponseResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class CachesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawCachesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawCachesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawCachesClient
        """
        return self._raw_client

    def filter_cached_responses(
        self,
        *,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> FilterCachedResponsesResponse:
        """
        List cached responses using POST-for-filtering. This endpoint accepts filters in the request body and currently requires dashboard JWT authentication.

        Parameters
        ----------
        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Number of results to return per page. Maximum 1000.

        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        FilterCachedResponsesResponse
            Filtered cached responses plus aggregate cache savings.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.caches.filter_cached_responses()
        """
        _response = self._raw_client.filter_cached_responses(
            page=page, page_size=page_size, filters=filters, request_options=request_options
        )
        return _response.data

    def delete_cached_responses(
        self, *, ids: typing.Sequence[int], request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteCachedResponsesResponse:
        """
        Deprecated bulk delete endpoint for numeric internal cache entry IDs. Use `DELETE /api/caches/bulk/` for supported bulk deletion by `cache_keys` or `all`.

        Parameters
        ----------
        ids : typing.Sequence[int]
            Numeric internal cache entry IDs to delete. JWT only.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteCachedResponsesResponse
            Bulk delete result.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.caches.delete_cached_responses(
            ids=[123, 124, 125],
        )
        """
        _response = self._raw_client.delete_cached_responses(ids=ids, request_options=request_options)
        return _response.data

    def retrieve_cached_response(
        self, id: int, *, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveCachedResponseResponse:
        """
        Retrieve a single cached response by numeric cache entry ID. The current backend route is `/api/cache/{id}/`; there is no public lookup route by `cache_key`. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        id : int
            Numeric cache entry ID returned by the list endpoint.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveCachedResponseResponse
            Cached response details.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.caches.retrieve_cached_response(
            id=1,
        )
        """
        _response = self._raw_client.retrieve_cached_response(id, request_options=request_options)
        return _response.data

    def get_filtered_cached_responses_summary(
        self,
        *,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetFilteredCachedResponsesSummaryResponse:
        """
        Return the total number of cached responses after applying filters. This endpoint supports both JWT and API key authentication.

        Parameters
        ----------
        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetFilteredCachedResponsesSummaryResponse
            Filtered cache summary statistics.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.caches.get_filtered_cached_responses_summary()
        """
        _response = self._raw_client.get_filtered_cached_responses_summary(
            filters=filters, request_options=request_options
        )
        return _response.data

    def bulk_delete_cached_responses(
        self, *, request: typing.Any, request_options: typing.Optional[RequestOptions] = None
    ) -> BulkDeleteCachedResponsesResponse:
        """
        Bulk delete cached responses. Provide exactly one of `cache_keys`, `ids`, or `all`. `ids` uses internal integer IDs and is JWT-only; API-key clients should use `cache_keys` or `all`.

        Parameters
        ----------
        request : typing.Any

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BulkDeleteCachedResponsesResponse
            Bulk delete result.

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.caches.bulk_delete_cached_responses(
            request={"cache_keys": ["cached_response_550e8400"]},
        )
        """
        _response = self._raw_client.bulk_delete_cached_responses(request=request, request_options=request_options)
        return _response.data


class AsyncCachesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawCachesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawCachesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawCachesClient
        """
        return self._raw_client

    async def filter_cached_responses(
        self,
        *,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> FilterCachedResponsesResponse:
        """
        List cached responses using POST-for-filtering. This endpoint accepts filters in the request body and currently requires dashboard JWT authentication.

        Parameters
        ----------
        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Number of results to return per page. Maximum 1000.

        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        FilterCachedResponsesResponse
            Filtered cached responses plus aggregate cache savings.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.caches.filter_cached_responses()


        asyncio.run(main())
        """
        _response = await self._raw_client.filter_cached_responses(
            page=page, page_size=page_size, filters=filters, request_options=request_options
        )
        return _response.data

    async def delete_cached_responses(
        self, *, ids: typing.Sequence[int], request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteCachedResponsesResponse:
        """
        Deprecated bulk delete endpoint for numeric internal cache entry IDs. Use `DELETE /api/caches/bulk/` for supported bulk deletion by `cache_keys` or `all`.

        Parameters
        ----------
        ids : typing.Sequence[int]
            Numeric internal cache entry IDs to delete. JWT only.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteCachedResponsesResponse
            Bulk delete result.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.caches.delete_cached_responses(
                ids=[123, 124, 125],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete_cached_responses(ids=ids, request_options=request_options)
        return _response.data

    async def retrieve_cached_response(
        self, id: int, *, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveCachedResponseResponse:
        """
        Retrieve a single cached response by numeric cache entry ID. The current backend route is `/api/cache/{id}/`; there is no public lookup route by `cache_key`. This cache management endpoint currently requires dashboard JWT authentication.

        Parameters
        ----------
        id : int
            Numeric cache entry ID returned by the list endpoint.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveCachedResponseResponse
            Cached response details.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.caches.retrieve_cached_response(
                id=1,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve_cached_response(id, request_options=request_options)
        return _response.data

    async def get_filtered_cached_responses_summary(
        self,
        *,
        filters: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetFilteredCachedResponsesSummaryResponse:
        """
        Return the total number of cached responses after applying filters. This endpoint supports both JWT and API key authentication.

        Parameters
        ----------
        filters : typing.Optional[typing.Dict[str, typing.Any]]
            Filter criteria using the standard Respan filter format.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetFilteredCachedResponsesSummaryResponse
            Filtered cache summary statistics.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.caches.get_filtered_cached_responses_summary()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_filtered_cached_responses_summary(
            filters=filters, request_options=request_options
        )
        return _response.data

    async def bulk_delete_cached_responses(
        self, *, request: typing.Any, request_options: typing.Optional[RequestOptions] = None
    ) -> BulkDeleteCachedResponsesResponse:
        """
        Bulk delete cached responses. Provide exactly one of `cache_keys`, `ids`, or `all`. `ids` uses internal integer IDs and is JWT-only; API-key clients should use `cache_keys` or `all`.

        Parameters
        ----------
        request : typing.Any

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BulkDeleteCachedResponsesResponse
            Bulk delete result.

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.caches.bulk_delete_cached_responses(
                request={"cache_keys": ["cached_response_550e8400"]},
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.bulk_delete_cached_responses(
            request=request, request_options=request_options
        )
        return _response.data
