# This file was auto-generated by Fern from our API Definition.

import datetime as dt
import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.pagination import AsyncPager, SyncPager
from ..core.request_options import RequestOptions
from ..types.filters import Filters
from .raw_client import AsyncRawSpansClient, RawSpansClient
from .types.create_span_request_customer_params import CreateSpanRequestCustomerParams
from .types.create_span_request_input import CreateSpanRequestInput
from .types.create_span_request_log_type import CreateSpanRequestLogType
from .types.create_span_request_output import CreateSpanRequestOutput
from .types.create_span_request_status import CreateSpanRequestStatus
from .types.create_span_request_stop import CreateSpanRequestStop
from .types.create_span_request_tool_choice import CreateSpanRequestToolChoice
from .types.create_span_request_usage import CreateSpanRequestUsage
from .types.create_span_request_warnings import CreateSpanRequestWarnings
from .types.create_span_response import CreateSpanResponse
from .types.get_spans_summary_request_environment import GetSpansSummaryRequestEnvironment
from .types.get_spans_summary_response import GetSpansSummaryResponse
from .types.list_spans_request_environment import ListSpansRequestEnvironment
from .types.list_spans_request_log_type import ListSpansRequestLogType
from .types.list_spans_response import ListSpansResponse
from .types.retrieve_span_response import RetrieveSpanResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class SpansClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawSpansClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawSpansClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawSpansClient
        """
        return self._raw_client

    def create_span(
        self,
        *,
        model: str,
        prompt_messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        completion_message: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        prompt_tokens: typing.Optional[int] = OMIT,
        completion_tokens: typing.Optional[int] = OMIT,
        usage: typing.Optional[CreateSpanRequestUsage] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        generation_time: typing.Optional[float] = OMIT,
        ttft: typing.Optional[float] = OMIT,
        customer_params: typing.Optional[CreateSpanRequestCustomerParams] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        status_code: typing.Optional[int] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_calls: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        timestamp: typing.Optional[dt.datetime] = OMIT,
        trace_unique_id: typing.Optional[str] = OMIT,
        span_name: typing.Optional[str] = OMIT,
        span_parent_id: typing.Optional[str] = OMIT,
        span_workflow_name: typing.Optional[str] = OMIT,
        custom_identifier: typing.Optional[str] = OMIT,
        thread_identifier: typing.Optional[str] = OMIT,
        group_identifier: typing.Optional[str] = OMIT,
        latency: typing.Optional[float] = OMIT,
        time_to_first_token: typing.Optional[float] = OMIT,
        log_type: typing.Optional[CreateSpanRequestLogType] = OMIT,
        input: typing.Optional[CreateSpanRequestInput] = OMIT,
        output: typing.Optional[CreateSpanRequestOutput] = OMIT,
        messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        cost: typing.Optional[float] = OMIT,
        tokens_per_second: typing.Optional[float] = OMIT,
        properties: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        variables: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        customer_identifier: typing.Optional[str] = OMIT,
        tool_choice: typing.Optional[CreateSpanRequestToolChoice] = OMIT,
        response_format: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        stop: typing.Optional[CreateSpanRequestStop] = OMIT,
        error_message: typing.Optional[str] = OMIT,
        warnings: typing.Optional[CreateSpanRequestWarnings] = OMIT,
        status: typing.Optional[CreateSpanRequestStatus] = OMIT,
        prompt_id: typing.Optional[str] = OMIT,
        prompt_name: typing.Optional[str] = OMIT,
        is_custom_prompt: typing.Optional[bool] = OMIT,
        start_time: typing.Optional[dt.datetime] = OMIT,
        full_request: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        full_response: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        prompt_unit_price: typing.Optional[float] = OMIT,
        completion_unit_price: typing.Optional[float] = OMIT,
        respan_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        keywordsai_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateSpanResponse:
        """
        Create a request-log span via the logging API. This is the standard create endpoint; `/api/request-logs/create/` remains supported as a legacy alias. For LLM request logs, send `prompt_messages`, `completion_message`, token counts, timing, metadata, tools, and trace fields directly in the body. `generation_time` is accepted and normalized to `latency`; `ttft` is accepted and normalized to `time_to_first_token`. The stored `environment` is derived from the API key environment, so use a key for the target environment rather than relying on a body override.

        Parameters
        ----------
        model : str
            Model used for the span.

        prompt_messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Chat input messages for the request log.

        completion_message : typing.Optional[typing.Dict[str, typing.Any]]
            Assistant message returned by the model.

        prompt_tokens : typing.Optional[int]
            Prompt/input tokens for the request. For Anthropic logs this corresponds to `input_tokens` before cache-token normalization.

        completion_tokens : typing.Optional[int]
            Completion/output tokens for the request. For Anthropic logs this corresponds to `output_tokens`.

        usage : typing.Optional[CreateSpanRequestUsage]
            Provider usage object. Cache token fields such as `cache_creation_input_tokens` and `cache_read_input_tokens` are accepted and normalized into Respan cache-token counters.

        temperature : typing.Optional[float]
            Sampling temperature (0-2). Higher = more random.

        top_p : typing.Optional[float]
            Nucleus sampling parameter.

        max_tokens : typing.Optional[int]
            Maximum tokens to generate.

        generation_time : typing.Optional[float]
            Accepted alias for total generation latency in seconds. Stored as `latency` in responses and query results.

        ttft : typing.Optional[float]
            Accepted alias for time to first token in seconds. Stored as `time_to_first_token` in responses and query results.

        customer_params : typing.Optional[CreateSpanRequestCustomerParams]
            Extended customer information. `customer_identifier` inside this object is promoted to the log customer identifier.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Arbitrary key-value pairs for your reference.

        stream : typing.Optional[bool]
            Whether the response was streamed.

        status_code : typing.Optional[int]
            HTTP status code of the request.

        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tools available to the model (OpenAI function calling format).

        tool_calls : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tool calls returned by the model.

        timestamp : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request completed.

        trace_unique_id : typing.Optional[str]
            Trace ID to link spans into a trace tree.

        span_name : typing.Optional[str]
            Name of this span within the workflow.

        span_parent_id : typing.Optional[str]
            Parent span ID. Builds the trace hierarchy.

        span_workflow_name : typing.Optional[str]
            Name of the parent workflow.

        custom_identifier : typing.Optional[str]
            Indexed custom identifier for fast querying.

        thread_identifier : typing.Optional[str]
            Conversation thread ID for multi-turn conversations.

        group_identifier : typing.Optional[str]
            Groups related spans together.

        latency : typing.Optional[float]
            Total request latency in seconds. `generation_time` is also accepted and normalizes to this field.

        time_to_first_token : typing.Optional[float]
            Time to first token in seconds. `ttft` is also accepted and normalizes to this field.

        log_type : typing.Optional[CreateSpanRequestLogType]
            Type of span. Determines how `input` and `output` are parsed.

        input : typing.Optional[CreateSpanRequestInput]
            Preferred universal input field. For chat spans, send an array of message objects or a JSON string. For non-chat spans, send any string/object/array structure that represents the span input.

        output : typing.Optional[CreateSpanRequestOutput]
            Preferred universal output field. For chat spans, send an assistant message object or a JSON string. For non-chat spans, send any string/object/array structure that represents the span output.

        messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Legacy chat input field. Equivalent to `prompt_messages`; prefer `input` for new integrations.

        cost : typing.Optional[float]
            Cost in USD. Auto-calculated from model pricing if omitted.

        tokens_per_second : typing.Optional[float]
            Generation speed in tokens per second.

        properties : typing.Optional[typing.Dict[str, typing.Any]]
            Typed metadata that preserves native JSON types.

        variables : typing.Optional[typing.Dict[str, typing.Any]]
            Variables used for prompt templates.

        customer_identifier : typing.Optional[str]
            Identifier for the end user who made this request.

        tool_choice : typing.Optional[CreateSpanRequestToolChoice]
            Controls tool selection. `"none"`, `"auto"`, or a specific tool object.

        response_format : typing.Optional[typing.Dict[str, typing.Any]]
            Response format configuration (e.g. JSON mode or structured output).

        frequency_penalty : typing.Optional[float]
            Penalizes repeated tokens (-2 to 2).

        presence_penalty : typing.Optional[float]
            Penalizes tokens already present (-2 to 2).

        stop : typing.Optional[CreateSpanRequestStop]
            Stop sequence or sequences where generation halts.

        error_message : typing.Optional[str]
            Error message if the request failed.

        warnings : typing.Optional[CreateSpanRequestWarnings]
            Warnings from the request.

        status : typing.Optional[CreateSpanRequestStatus]
            Request status.

        prompt_id : typing.Optional[str]
            ID of the Respan prompt template used.

        prompt_name : typing.Optional[str]
            Name of the prompt template.

        is_custom_prompt : typing.Optional[bool]
            Set `true` when using a custom `prompt_id`.

        start_time : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request started.

        full_request : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw request object for reference.

        full_response : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw response object from the provider.

        prompt_unit_price : typing.Optional[float]
            Custom price per 1M prompt tokens (for self-hosted/fine-tuned models).

        completion_unit_price : typing.Optional[float]
            Custom price per 1M completion tokens (for self-hosted/fine-tuned models).

        respan_params : typing.Optional[typing.Dict[str, typing.Any]]
            Preferred namespace for Respan-specific controls such as customer tagging, metadata, prompt loading, cache settings, and logging flags.

        keywordsai_params : typing.Optional[typing.Dict[str, typing.Any]]
            Legacy alias for `respan_params`. Still accepted and merged into `respan_params`.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateSpanResponse
            Span created successfully

        Examples
        --------
        import datetime

        from respan import RespanClient
        from respan.spans import CreateSpanRequestCustomerParams, CreateSpanRequestUsage

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.spans.create_span(
            model="gpt-4o-mini",
            prompt_messages=[{"role": "user", "content": "Hello"}],
            completion_message={"role": "assistant", "content": "Hi there!"},
            prompt_tokens=50,
            completion_tokens=100,
            usage=CreateSpanRequestUsage(
                cache_creation_input_tokens=0,
                cache_read_input_tokens=0,
            ),
            temperature=0.7,
            top_p=1.0,
            max_tokens=1024,
            generation_time=1.23,
            ttft=0.35,
            customer_params=CreateSpanRequestCustomerParams(
                customer_identifier="user_123",
                email="alice@example.com",
                name="Alice",
            ),
            metadata={"feature": "chat"},
            stream=False,
            status_code=200,
            tools=[
                {
                    "type": "function",
                    "function": {
                        "name": "lookup_order",
                        "description": "Lookup an order by ID",
                    },
                }
            ],
            tool_calls=[
                {
                    "id": "call_abc123",
                    "type": "function",
                    "function": {
                        "name": "lookup_order",
                        "arguments": '{"order_id":"ord_123"}',
                    },
                }
            ],
            timestamp=datetime.datetime.fromisoformat(
                "2026-06-04 10:30:00+00:00",
            ),
        )
        """
        _response = self._raw_client.create_span(
            model=model,
            prompt_messages=prompt_messages,
            completion_message=completion_message,
            prompt_tokens=prompt_tokens,
            completion_tokens=completion_tokens,
            usage=usage,
            temperature=temperature,
            top_p=top_p,
            max_tokens=max_tokens,
            generation_time=generation_time,
            ttft=ttft,
            customer_params=customer_params,
            metadata=metadata,
            stream=stream,
            status_code=status_code,
            tools=tools,
            tool_calls=tool_calls,
            timestamp=timestamp,
            trace_unique_id=trace_unique_id,
            span_name=span_name,
            span_parent_id=span_parent_id,
            span_workflow_name=span_workflow_name,
            custom_identifier=custom_identifier,
            thread_identifier=thread_identifier,
            group_identifier=group_identifier,
            latency=latency,
            time_to_first_token=time_to_first_token,
            log_type=log_type,
            input=input,
            output=output,
            messages=messages,
            cost=cost,
            tokens_per_second=tokens_per_second,
            properties=properties,
            variables=variables,
            customer_identifier=customer_identifier,
            tool_choice=tool_choice,
            response_format=response_format,
            frequency_penalty=frequency_penalty,
            presence_penalty=presence_penalty,
            stop=stop,
            error_message=error_message,
            warnings=warnings,
            status=status,
            prompt_id=prompt_id,
            prompt_name=prompt_name,
            is_custom_prompt=is_custom_prompt,
            start_time=start_time,
            full_request=full_request,
            full_response=full_response,
            prompt_unit_price=prompt_unit_price,
            completion_unit_price=completion_unit_price,
            respan_params=respan_params,
            keywordsai_params=keywordsai_params,
            positive_feedback=positive_feedback,
            request_options=request_options,
        )
        return _response.data

    def list_spans(
        self,
        *,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        sort_by: typing.Optional[str] = None,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[ListSpansRequestEnvironment] = None,
        log_type: typing.Optional[ListSpansRequestLogType] = None,
        include_fields: typing.Optional[str] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[typing.Dict[str, typing.Any], ListSpansResponse]:
        """
        Retrieve spans matching the specified filters with pagination. Supports filtering by any span field, URL-based quick filters, and sorting by evaluator scores. See [Filters API Reference](/docs/apis/reference/filters-api-reference) for full filter syntax.

        Parameters
        ----------
        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Results per page (max 1000).

        sort_by : typing.Optional[str]
            Field to sort by. Prefix `-` for descending.

        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[ListSpansRequestEnvironment]
            Filter by environment (`prod` or `test`).

        log_type : typing.Optional[ListSpansRequestLogType]
            Filter by span/log type. Use values like `chat`, `completion`, or `response` to focus on model-inference spans; omitting this can also return non-chat span/log rows such as legacy `text` logs.

        include_fields : typing.Optional[str]
            Comma-separated list of fields to include in each span. Reduces response size.

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[typing.Dict[str, typing.Any], ListSpansResponse]
            Successful response for List spans

        Examples
        --------
        import datetime

        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        response = client.spans.list_spans(
            sort_by="-cost",
            start_time=datetime.datetime.fromisoformat(
                "2025-01-01 00:00:00+00:00",
            ),
            end_time=datetime.datetime.fromisoformat(
                "2025-01-31 23:59:59+00:00",
            ),
            include_fields="customer_identifier,model,cost,latency",
        )
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list_spans(
            page=page,
            page_size=page_size,
            sort_by=sort_by,
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            log_type=log_type,
            include_fields=include_fields,
            filters=filters,
            request_options=request_options,
        )

    def retrieve_span(
        self, unique_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveSpanResponse:
        """
        Retrieve a span by its unique ID. Returns the full span including input, output, metrics, metadata, trace context, evaluation scores, and credit/budget info (`limit_info`).

        Parameters
        ----------
        unique_id : str
            The unique ID of the log to get.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveSpanResponse
            Successful response for Retrieve span

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.spans.retrieve_span(
            unique_id="unique_id",
        )
        """
        _response = self._raw_client.retrieve_span(unique_id, request_options=request_options)
        return _response.data

    def update_span(
        self,
        unique_id: str,
        *,
        is_pinned: typing.Optional[bool] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        note: typing.Optional[str] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Update mutable fields of a span. Supports pinning for infinite retention, user feedback, text annotations, and metadata (merged with existing metadata).

        Parameters
        ----------
        unique_id : str
            The unique identifier of the span

        is_pinned : typing.Optional[bool]
            Pin the span for infinite retention.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative, `null` = clear.

        note : typing.Optional[str]
            Free-text annotation on the span.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Metadata to merge into existing span metadata.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.spans.update_span(
            unique_id="unique_id",
        )
        """
        _response = self._raw_client.update_span(
            unique_id,
            is_pinned=is_pinned,
            positive_feedback=positive_feedback,
            note=note,
            metadata=metadata,
            request_options=request_options,
        )
        return _response.data

    def get_spans_summary(
        self,
        *,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[GetSpansSummaryRequestEnvironment] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetSpansSummaryResponse:
        """
        Get aggregated statistics for spans/log rows in a time range. `start_time`, `end_time`, and `environment` are URL query parameters. Additional filters must be sent in the JSON body under `filters`; fields such as `log_type` are not read as summary query parameters. When `filters` is omitted or empty, the backend may use the pre-aggregated summary path; when `filters` is non-empty, it queries raw logs using the same filter object shape as List spans.

        Parameters
        ----------
        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[GetSpansSummaryRequestEnvironment]
            Filter by environment (`prod` or `test`).

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetSpansSummaryResponse
            Summary statistics for matching spans.

        Examples
        --------
        import datetime

        from respan import RespanClient

        client = RespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )
        client.spans.get_spans_summary(
            start_time=datetime.datetime.fromisoformat(
                "2025-01-01 00:00:00+00:00",
            ),
            end_time=datetime.datetime.fromisoformat(
                "2025-01-31 23:59:59+00:00",
            ),
        )
        """
        _response = self._raw_client.get_spans_summary(
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            filters=filters,
            request_options=request_options,
        )
        return _response.data


class AsyncSpansClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawSpansClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawSpansClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawSpansClient
        """
        return self._raw_client

    async def create_span(
        self,
        *,
        model: str,
        prompt_messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        completion_message: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        prompt_tokens: typing.Optional[int] = OMIT,
        completion_tokens: typing.Optional[int] = OMIT,
        usage: typing.Optional[CreateSpanRequestUsage] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        generation_time: typing.Optional[float] = OMIT,
        ttft: typing.Optional[float] = OMIT,
        customer_params: typing.Optional[CreateSpanRequestCustomerParams] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        status_code: typing.Optional[int] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_calls: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        timestamp: typing.Optional[dt.datetime] = OMIT,
        trace_unique_id: typing.Optional[str] = OMIT,
        span_name: typing.Optional[str] = OMIT,
        span_parent_id: typing.Optional[str] = OMIT,
        span_workflow_name: typing.Optional[str] = OMIT,
        custom_identifier: typing.Optional[str] = OMIT,
        thread_identifier: typing.Optional[str] = OMIT,
        group_identifier: typing.Optional[str] = OMIT,
        latency: typing.Optional[float] = OMIT,
        time_to_first_token: typing.Optional[float] = OMIT,
        log_type: typing.Optional[CreateSpanRequestLogType] = OMIT,
        input: typing.Optional[CreateSpanRequestInput] = OMIT,
        output: typing.Optional[CreateSpanRequestOutput] = OMIT,
        messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        cost: typing.Optional[float] = OMIT,
        tokens_per_second: typing.Optional[float] = OMIT,
        properties: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        variables: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        customer_identifier: typing.Optional[str] = OMIT,
        tool_choice: typing.Optional[CreateSpanRequestToolChoice] = OMIT,
        response_format: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        stop: typing.Optional[CreateSpanRequestStop] = OMIT,
        error_message: typing.Optional[str] = OMIT,
        warnings: typing.Optional[CreateSpanRequestWarnings] = OMIT,
        status: typing.Optional[CreateSpanRequestStatus] = OMIT,
        prompt_id: typing.Optional[str] = OMIT,
        prompt_name: typing.Optional[str] = OMIT,
        is_custom_prompt: typing.Optional[bool] = OMIT,
        start_time: typing.Optional[dt.datetime] = OMIT,
        full_request: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        full_response: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        prompt_unit_price: typing.Optional[float] = OMIT,
        completion_unit_price: typing.Optional[float] = OMIT,
        respan_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        keywordsai_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateSpanResponse:
        """
        Create a request-log span via the logging API. This is the standard create endpoint; `/api/request-logs/create/` remains supported as a legacy alias. For LLM request logs, send `prompt_messages`, `completion_message`, token counts, timing, metadata, tools, and trace fields directly in the body. `generation_time` is accepted and normalized to `latency`; `ttft` is accepted and normalized to `time_to_first_token`. The stored `environment` is derived from the API key environment, so use a key for the target environment rather than relying on a body override.

        Parameters
        ----------
        model : str
            Model used for the span.

        prompt_messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Chat input messages for the request log.

        completion_message : typing.Optional[typing.Dict[str, typing.Any]]
            Assistant message returned by the model.

        prompt_tokens : typing.Optional[int]
            Prompt/input tokens for the request. For Anthropic logs this corresponds to `input_tokens` before cache-token normalization.

        completion_tokens : typing.Optional[int]
            Completion/output tokens for the request. For Anthropic logs this corresponds to `output_tokens`.

        usage : typing.Optional[CreateSpanRequestUsage]
            Provider usage object. Cache token fields such as `cache_creation_input_tokens` and `cache_read_input_tokens` are accepted and normalized into Respan cache-token counters.

        temperature : typing.Optional[float]
            Sampling temperature (0-2). Higher = more random.

        top_p : typing.Optional[float]
            Nucleus sampling parameter.

        max_tokens : typing.Optional[int]
            Maximum tokens to generate.

        generation_time : typing.Optional[float]
            Accepted alias for total generation latency in seconds. Stored as `latency` in responses and query results.

        ttft : typing.Optional[float]
            Accepted alias for time to first token in seconds. Stored as `time_to_first_token` in responses and query results.

        customer_params : typing.Optional[CreateSpanRequestCustomerParams]
            Extended customer information. `customer_identifier` inside this object is promoted to the log customer identifier.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Arbitrary key-value pairs for your reference.

        stream : typing.Optional[bool]
            Whether the response was streamed.

        status_code : typing.Optional[int]
            HTTP status code of the request.

        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tools available to the model (OpenAI function calling format).

        tool_calls : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tool calls returned by the model.

        timestamp : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request completed.

        trace_unique_id : typing.Optional[str]
            Trace ID to link spans into a trace tree.

        span_name : typing.Optional[str]
            Name of this span within the workflow.

        span_parent_id : typing.Optional[str]
            Parent span ID. Builds the trace hierarchy.

        span_workflow_name : typing.Optional[str]
            Name of the parent workflow.

        custom_identifier : typing.Optional[str]
            Indexed custom identifier for fast querying.

        thread_identifier : typing.Optional[str]
            Conversation thread ID for multi-turn conversations.

        group_identifier : typing.Optional[str]
            Groups related spans together.

        latency : typing.Optional[float]
            Total request latency in seconds. `generation_time` is also accepted and normalizes to this field.

        time_to_first_token : typing.Optional[float]
            Time to first token in seconds. `ttft` is also accepted and normalizes to this field.

        log_type : typing.Optional[CreateSpanRequestLogType]
            Type of span. Determines how `input` and `output` are parsed.

        input : typing.Optional[CreateSpanRequestInput]
            Preferred universal input field. For chat spans, send an array of message objects or a JSON string. For non-chat spans, send any string/object/array structure that represents the span input.

        output : typing.Optional[CreateSpanRequestOutput]
            Preferred universal output field. For chat spans, send an assistant message object or a JSON string. For non-chat spans, send any string/object/array structure that represents the span output.

        messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Legacy chat input field. Equivalent to `prompt_messages`; prefer `input` for new integrations.

        cost : typing.Optional[float]
            Cost in USD. Auto-calculated from model pricing if omitted.

        tokens_per_second : typing.Optional[float]
            Generation speed in tokens per second.

        properties : typing.Optional[typing.Dict[str, typing.Any]]
            Typed metadata that preserves native JSON types.

        variables : typing.Optional[typing.Dict[str, typing.Any]]
            Variables used for prompt templates.

        customer_identifier : typing.Optional[str]
            Identifier for the end user who made this request.

        tool_choice : typing.Optional[CreateSpanRequestToolChoice]
            Controls tool selection. `"none"`, `"auto"`, or a specific tool object.

        response_format : typing.Optional[typing.Dict[str, typing.Any]]
            Response format configuration (e.g. JSON mode or structured output).

        frequency_penalty : typing.Optional[float]
            Penalizes repeated tokens (-2 to 2).

        presence_penalty : typing.Optional[float]
            Penalizes tokens already present (-2 to 2).

        stop : typing.Optional[CreateSpanRequestStop]
            Stop sequence or sequences where generation halts.

        error_message : typing.Optional[str]
            Error message if the request failed.

        warnings : typing.Optional[CreateSpanRequestWarnings]
            Warnings from the request.

        status : typing.Optional[CreateSpanRequestStatus]
            Request status.

        prompt_id : typing.Optional[str]
            ID of the Respan prompt template used.

        prompt_name : typing.Optional[str]
            Name of the prompt template.

        is_custom_prompt : typing.Optional[bool]
            Set `true` when using a custom `prompt_id`.

        start_time : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request started.

        full_request : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw request object for reference.

        full_response : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw response object from the provider.

        prompt_unit_price : typing.Optional[float]
            Custom price per 1M prompt tokens (for self-hosted/fine-tuned models).

        completion_unit_price : typing.Optional[float]
            Custom price per 1M completion tokens (for self-hosted/fine-tuned models).

        respan_params : typing.Optional[typing.Dict[str, typing.Any]]
            Preferred namespace for Respan-specific controls such as customer tagging, metadata, prompt loading, cache settings, and logging flags.

        keywordsai_params : typing.Optional[typing.Dict[str, typing.Any]]
            Legacy alias for `respan_params`. Still accepted and merged into `respan_params`.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateSpanResponse
            Span created successfully

        Examples
        --------
        import asyncio
        import datetime

        from respan import AsyncRespanClient
        from respan.spans import CreateSpanRequestCustomerParams, CreateSpanRequestUsage

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.spans.create_span(
                model="gpt-4o-mini",
                prompt_messages=[{"role": "user", "content": "Hello"}],
                completion_message={"role": "assistant", "content": "Hi there!"},
                prompt_tokens=50,
                completion_tokens=100,
                usage=CreateSpanRequestUsage(
                    cache_creation_input_tokens=0,
                    cache_read_input_tokens=0,
                ),
                temperature=0.7,
                top_p=1.0,
                max_tokens=1024,
                generation_time=1.23,
                ttft=0.35,
                customer_params=CreateSpanRequestCustomerParams(
                    customer_identifier="user_123",
                    email="alice@example.com",
                    name="Alice",
                ),
                metadata={"feature": "chat"},
                stream=False,
                status_code=200,
                tools=[
                    {
                        "type": "function",
                        "function": {
                            "name": "lookup_order",
                            "description": "Lookup an order by ID",
                        },
                    }
                ],
                tool_calls=[
                    {
                        "id": "call_abc123",
                        "type": "function",
                        "function": {
                            "name": "lookup_order",
                            "arguments": '{"order_id":"ord_123"}',
                        },
                    }
                ],
                timestamp=datetime.datetime.fromisoformat(
                    "2026-06-04 10:30:00+00:00",
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_span(
            model=model,
            prompt_messages=prompt_messages,
            completion_message=completion_message,
            prompt_tokens=prompt_tokens,
            completion_tokens=completion_tokens,
            usage=usage,
            temperature=temperature,
            top_p=top_p,
            max_tokens=max_tokens,
            generation_time=generation_time,
            ttft=ttft,
            customer_params=customer_params,
            metadata=metadata,
            stream=stream,
            status_code=status_code,
            tools=tools,
            tool_calls=tool_calls,
            timestamp=timestamp,
            trace_unique_id=trace_unique_id,
            span_name=span_name,
            span_parent_id=span_parent_id,
            span_workflow_name=span_workflow_name,
            custom_identifier=custom_identifier,
            thread_identifier=thread_identifier,
            group_identifier=group_identifier,
            latency=latency,
            time_to_first_token=time_to_first_token,
            log_type=log_type,
            input=input,
            output=output,
            messages=messages,
            cost=cost,
            tokens_per_second=tokens_per_second,
            properties=properties,
            variables=variables,
            customer_identifier=customer_identifier,
            tool_choice=tool_choice,
            response_format=response_format,
            frequency_penalty=frequency_penalty,
            presence_penalty=presence_penalty,
            stop=stop,
            error_message=error_message,
            warnings=warnings,
            status=status,
            prompt_id=prompt_id,
            prompt_name=prompt_name,
            is_custom_prompt=is_custom_prompt,
            start_time=start_time,
            full_request=full_request,
            full_response=full_response,
            prompt_unit_price=prompt_unit_price,
            completion_unit_price=completion_unit_price,
            respan_params=respan_params,
            keywordsai_params=keywordsai_params,
            positive_feedback=positive_feedback,
            request_options=request_options,
        )
        return _response.data

    async def list_spans(
        self,
        *,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        sort_by: typing.Optional[str] = None,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[ListSpansRequestEnvironment] = None,
        log_type: typing.Optional[ListSpansRequestLogType] = None,
        include_fields: typing.Optional[str] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[typing.Dict[str, typing.Any], ListSpansResponse]:
        """
        Retrieve spans matching the specified filters with pagination. Supports filtering by any span field, URL-based quick filters, and sorting by evaluator scores. See [Filters API Reference](/docs/apis/reference/filters-api-reference) for full filter syntax.

        Parameters
        ----------
        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Results per page (max 1000).

        sort_by : typing.Optional[str]
            Field to sort by. Prefix `-` for descending.

        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[ListSpansRequestEnvironment]
            Filter by environment (`prod` or `test`).

        log_type : typing.Optional[ListSpansRequestLogType]
            Filter by span/log type. Use values like `chat`, `completion`, or `response` to focus on model-inference spans; omitting this can also return non-chat span/log rows such as legacy `text` logs.

        include_fields : typing.Optional[str]
            Comma-separated list of fields to include in each span. Reduces response size.

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[typing.Dict[str, typing.Any], ListSpansResponse]
            Successful response for List spans

        Examples
        --------
        import asyncio
        import datetime

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            response = await client.spans.list_spans(
                sort_by="-cost",
                start_time=datetime.datetime.fromisoformat(
                    "2025-01-01 00:00:00+00:00",
                ),
                end_time=datetime.datetime.fromisoformat(
                    "2025-01-31 23:59:59+00:00",
                ),
                include_fields="customer_identifier,model,cost,latency",
            )
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list_spans(
            page=page,
            page_size=page_size,
            sort_by=sort_by,
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            log_type=log_type,
            include_fields=include_fields,
            filters=filters,
            request_options=request_options,
        )

    async def retrieve_span(
        self, unique_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveSpanResponse:
        """
        Retrieve a span by its unique ID. Returns the full span including input, output, metrics, metadata, trace context, evaluation scores, and credit/budget info (`limit_info`).

        Parameters
        ----------
        unique_id : str
            The unique ID of the log to get.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveSpanResponse
            Successful response for Retrieve span

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.spans.retrieve_span(
                unique_id="unique_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve_span(unique_id, request_options=request_options)
        return _response.data

    async def update_span(
        self,
        unique_id: str,
        *,
        is_pinned: typing.Optional[bool] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        note: typing.Optional[str] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Update mutable fields of a span. Supports pinning for infinite retention, user feedback, text annotations, and metadata (merged with existing metadata).

        Parameters
        ----------
        unique_id : str
            The unique identifier of the span

        is_pinned : typing.Optional[bool]
            Pin the span for infinite retention.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative, `null` = clear.

        note : typing.Optional[str]
            Free-text annotation on the span.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Metadata to merge into existing span metadata.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.spans.update_span(
                unique_id="unique_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_span(
            unique_id,
            is_pinned=is_pinned,
            positive_feedback=positive_feedback,
            note=note,
            metadata=metadata,
            request_options=request_options,
        )
        return _response.data

    async def get_spans_summary(
        self,
        *,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[GetSpansSummaryRequestEnvironment] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetSpansSummaryResponse:
        """
        Get aggregated statistics for spans/log rows in a time range. `start_time`, `end_time`, and `environment` are URL query parameters. Additional filters must be sent in the JSON body under `filters`; fields such as `log_type` are not read as summary query parameters. When `filters` is omitted or empty, the backend may use the pre-aggregated summary path; when `filters` is non-empty, it queries raw logs using the same filter object shape as List spans.

        Parameters
        ----------
        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[GetSpansSummaryRequestEnvironment]
            Filter by environment (`prod` or `test`).

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetSpansSummaryResponse
            Summary statistics for matching spans.

        Examples
        --------
        import asyncio
        import datetime

        from respan import AsyncRespanClient

        client = AsyncRespanClient(
            respan_api_key="YOUR_RESPAN_API_KEY",
        )


        async def main() -> None:
            await client.spans.get_spans_summary(
                start_time=datetime.datetime.fromisoformat(
                    "2025-01-01 00:00:00+00:00",
                ),
                end_time=datetime.datetime.fromisoformat(
                    "2025-01-31 23:59:59+00:00",
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_spans_summary(
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            filters=filters,
            request_options=request_options,
        )
        return _response.data
