# This file was auto-generated by Fern from our API Definition.

import datetime as dt
import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.pagination import AsyncPager, SyncPager
from ..core.request_options import RequestOptions
from ..types.filters import Filters
from .raw_client import AsyncRawSpansClient, RawSpansClient
from .types.create_span_request_input import CreateSpanRequestInput
from .types.create_span_request_log_type import CreateSpanRequestLogType
from .types.create_span_request_output import CreateSpanRequestOutput
from .types.create_span_request_status import CreateSpanRequestStatus
from .types.create_span_request_stop import CreateSpanRequestStop
from .types.create_span_request_tool_choice import CreateSpanRequestToolChoice
from .types.create_span_request_usage import CreateSpanRequestUsage
from .types.create_span_request_warnings import CreateSpanRequestWarnings
from .types.create_span_response import CreateSpanResponse
from .types.get_spans_summary_response import GetSpansSummaryResponse
from .types.list_spans_request_all_envs import ListSpansRequestAllEnvs
from .types.list_spans_request_fetch_filters import ListSpansRequestFetchFilters
from .types.list_spans_request_is_test import ListSpansRequestIsTest
from .types.list_spans_request_operator import ListSpansRequestOperator
from .types.list_spans_response import ListSpansResponse
from .types.retrieve_span_response import RetrieveSpanResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class SpansClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawSpansClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawSpansClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawSpansClient
        """
        return self._raw_client

    def create_span(
        self,
        *,
        authorization: str,
        model: str,
        log_type: typing.Optional[CreateSpanRequestLogType] = OMIT,
        input: typing.Optional[CreateSpanRequestInput] = OMIT,
        output: typing.Optional[CreateSpanRequestOutput] = OMIT,
        messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        prompt_messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        completion_message: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        usage: typing.Optional[CreateSpanRequestUsage] = OMIT,
        cost: typing.Optional[float] = OMIT,
        latency: typing.Optional[float] = OMIT,
        time_to_first_token: typing.Optional[float] = OMIT,
        tokens_per_second: typing.Optional[float] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        properties: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        variables: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        customer_identifier: typing.Optional[str] = OMIT,
        customer_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        thread_identifier: typing.Optional[str] = OMIT,
        custom_identifier: typing.Optional[str] = OMIT,
        group_identifier: typing.Optional[str] = OMIT,
        trace_unique_id: typing.Optional[str] = OMIT,
        span_workflow_name: typing.Optional[str] = OMIT,
        span_name: typing.Optional[str] = OMIT,
        span_parent_id: typing.Optional[str] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_choice: typing.Optional[CreateSpanRequestToolChoice] = OMIT,
        response_format: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        stop: typing.Optional[CreateSpanRequestStop] = OMIT,
        status_code: typing.Optional[int] = OMIT,
        error_message: typing.Optional[str] = OMIT,
        warnings: typing.Optional[CreateSpanRequestWarnings] = OMIT,
        status: typing.Optional[CreateSpanRequestStatus] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        prompt_id: typing.Optional[str] = OMIT,
        prompt_name: typing.Optional[str] = OMIT,
        is_custom_prompt: typing.Optional[bool] = OMIT,
        timestamp: typing.Optional[dt.datetime] = OMIT,
        start_time: typing.Optional[dt.datetime] = OMIT,
        full_request: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        full_response: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        prompt_unit_price: typing.Optional[float] = OMIT,
        completion_unit_price: typing.Optional[float] = OMIT,
        respan_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        keywordsai_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateSpanResponse:
        """
        Create a span via the logging API. This is the standard create endpoint. `/api/request-logs/create/` remains supported as a legacy alias. Prefer universal `input` and `output` fields; legacy chat fields like `messages`, `prompt_messages`, and `completion_message` are still accepted for backward compatibility. Respan-specific controls can be sent at the top level or nested under `respan_params`.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        model : str
            Model used for the span.

        log_type : typing.Optional[CreateSpanRequestLogType]
            Type of span. Determines how `input` and `output` are parsed.

        input : typing.Optional[CreateSpanRequestInput]
            Preferred universal input field. For chat spans, send an array of message objects or a JSON string. For non-chat spans, send any string/object/array structure that represents the span input.

        output : typing.Optional[CreateSpanRequestOutput]
            Preferred universal output field. For chat spans, send an assistant message object or a JSON string. For non-chat spans, send any string/object/array structure that represents the span output.

        messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Legacy chat input field. Equivalent to `prompt_messages`; prefer `input` for new integrations.

        prompt_messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Legacy chat input field. Prefer `input` for new integrations.

        completion_message : typing.Optional[typing.Dict[str, typing.Any]]
            Legacy chat output field. Prefer `output` for new integrations.

        usage : typing.Optional[CreateSpanRequestUsage]
            Token usage for the request.

        cost : typing.Optional[float]
            Cost in USD. Auto-calculated from model pricing if omitted.

        latency : typing.Optional[float]
            Total request latency in seconds.

        time_to_first_token : typing.Optional[float]
            Time to first token in seconds.

        tokens_per_second : typing.Optional[float]
            Generation speed in tokens per second.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Arbitrary key-value pairs for your reference.

        properties : typing.Optional[typing.Dict[str, typing.Any]]
            Typed metadata that preserves native JSON types.

        variables : typing.Optional[typing.Dict[str, typing.Any]]
            Variables used for prompt templates.

        customer_identifier : typing.Optional[str]
            Identifier for the end user who made this request.

        customer_params : typing.Optional[typing.Dict[str, typing.Any]]
            Extended customer information.

        thread_identifier : typing.Optional[str]
            Conversation thread ID for multi-turn conversations.

        custom_identifier : typing.Optional[str]
            Indexed custom identifier for fast querying.

        group_identifier : typing.Optional[str]
            Groups related spans together.

        trace_unique_id : typing.Optional[str]
            Trace ID to link spans into a trace tree.

        span_workflow_name : typing.Optional[str]
            Name of the parent workflow.

        span_name : typing.Optional[str]
            Name of this span within the workflow.

        span_parent_id : typing.Optional[str]
            Parent span ID. Builds the trace hierarchy.

        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tools available to the model (OpenAI function calling format).

        tool_choice : typing.Optional[CreateSpanRequestToolChoice]
            Controls tool selection. `"none"`, `"auto"`, or a specific tool object.

        response_format : typing.Optional[typing.Dict[str, typing.Any]]
            Response format configuration (e.g. JSON mode or structured output).

        temperature : typing.Optional[float]
            Sampling temperature (0-2). Higher = more random.

        top_p : typing.Optional[float]
            Nucleus sampling parameter.

        frequency_penalty : typing.Optional[float]
            Penalizes repeated tokens (-2 to 2).

        presence_penalty : typing.Optional[float]
            Penalizes tokens already present (-2 to 2).

        max_tokens : typing.Optional[int]
            Maximum tokens to generate.

        stop : typing.Optional[CreateSpanRequestStop]
            Stop sequence or sequences where generation halts.

        status_code : typing.Optional[int]
            HTTP status code of the request.

        error_message : typing.Optional[str]
            Error message if the request failed.

        warnings : typing.Optional[CreateSpanRequestWarnings]
            Warnings from the request.

        status : typing.Optional[CreateSpanRequestStatus]
            Request status.

        stream : typing.Optional[bool]
            Whether the response was streamed.

        prompt_id : typing.Optional[str]
            ID of the Respan prompt template used.

        prompt_name : typing.Optional[str]
            Name of the prompt template.

        is_custom_prompt : typing.Optional[bool]
            Set `true` when using a custom `prompt_id`.

        timestamp : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request completed.

        start_time : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request started.

        full_request : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw request object for reference.

        full_response : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw response object from the provider.

        prompt_unit_price : typing.Optional[float]
            Custom price per 1M prompt tokens (for self-hosted/fine-tuned models).

        completion_unit_price : typing.Optional[float]
            Custom price per 1M completion tokens (for self-hosted/fine-tuned models).

        respan_params : typing.Optional[typing.Dict[str, typing.Any]]
            Preferred namespace for Respan-specific controls such as customer tagging, metadata, prompt loading, cache settings, and logging flags.

        keywordsai_params : typing.Optional[typing.Dict[str, typing.Any]]
            Legacy alias for `respan_params`. Still accepted and merged into `respan_params`.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateSpanResponse
            Span created successfully

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.spans.create_span(
            authorization="Bearer sk_live_xxxxx",
            model="gpt-4o-mini",
        )
        """
        _response = self._raw_client.create_span(
            authorization=authorization,
            model=model,
            log_type=log_type,
            input=input,
            output=output,
            messages=messages,
            prompt_messages=prompt_messages,
            completion_message=completion_message,
            usage=usage,
            cost=cost,
            latency=latency,
            time_to_first_token=time_to_first_token,
            tokens_per_second=tokens_per_second,
            metadata=metadata,
            properties=properties,
            variables=variables,
            customer_identifier=customer_identifier,
            customer_params=customer_params,
            thread_identifier=thread_identifier,
            custom_identifier=custom_identifier,
            group_identifier=group_identifier,
            trace_unique_id=trace_unique_id,
            span_workflow_name=span_workflow_name,
            span_name=span_name,
            span_parent_id=span_parent_id,
            tools=tools,
            tool_choice=tool_choice,
            response_format=response_format,
            temperature=temperature,
            top_p=top_p,
            frequency_penalty=frequency_penalty,
            presence_penalty=presence_penalty,
            max_tokens=max_tokens,
            stop=stop,
            status_code=status_code,
            error_message=error_message,
            warnings=warnings,
            status=status,
            stream=stream,
            prompt_id=prompt_id,
            prompt_name=prompt_name,
            is_custom_prompt=is_custom_prompt,
            timestamp=timestamp,
            start_time=start_time,
            full_request=full_request,
            full_response=full_response,
            prompt_unit_price=prompt_unit_price,
            completion_unit_price=completion_unit_price,
            respan_params=respan_params,
            keywordsai_params=keywordsai_params,
            positive_feedback=positive_feedback,
            request_options=request_options,
        )
        return _response.data

    def list_spans(
        self,
        *,
        authorization: str,
        operator: ListSpansRequestOperator,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        sort_by: typing.Optional[str] = None,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[str] = None,
        is_test: typing.Optional[ListSpansRequestIsTest] = None,
        all_envs: typing.Optional[ListSpansRequestAllEnvs] = None,
        fetch_filters: typing.Optional[ListSpansRequestFetchFilters] = None,
        include_fields: typing.Optional[str] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[typing.Dict[str, typing.Any], ListSpansResponse]:
        """
        Retrieve spans matching the specified filters with pagination. Supports filtering by any span field, URL-based quick filters, and sorting by evaluator scores. See [Filters API Reference](/docs/apis/reference/filters-api-reference) for full filter syntax.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        operator : ListSpansRequestOperator
            Logical operator to combine filters.

        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Results per page (max 1000).

        sort_by : typing.Optional[str]
            Field to sort by. Prefix `-` for descending.

        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[str]
            Filter by environment.

        is_test : typing.Optional[ListSpansRequestIsTest]
            Filter by test/production spans.

        all_envs : typing.Optional[ListSpansRequestAllEnvs]
            Include spans from all environments.

        fetch_filters : typing.Optional[ListSpansRequestFetchFilters]
            Return available filter options in the response. May slow response.

        include_fields : typing.Optional[str]
            Comma-separated list of fields to include in each span. Reduces response size.

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[typing.Dict[str, typing.Any], ListSpansResponse]
            Successful response for List spans

        Examples
        --------
        import datetime

        from respan import RespanClient

        client = RespanClient()
        response = client.spans.list_spans(
            authorization="Bearer sk_live_xxxxx",
            sort_by="-cost",
            start_time=datetime.datetime.fromisoformat(
                "2025-01-01 00:00:00+00:00",
            ),
            end_time=datetime.datetime.fromisoformat(
                "2025-01-31 23:59:59+00:00",
            ),
            environment="production",
            include_fields="customer_identifier,model,cost,latency",
            operator="AND",
        )
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list_spans(
            authorization=authorization,
            operator=operator,
            page=page,
            page_size=page_size,
            sort_by=sort_by,
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            is_test=is_test,
            all_envs=all_envs,
            fetch_filters=fetch_filters,
            include_fields=include_fields,
            filters=filters,
            request_options=request_options,
        )

    def retrieve_span(
        self, unique_id: str, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveSpanResponse:
        """
        Retrieve a span by its unique ID. Returns the full span including input, output, metrics, metadata, trace context, evaluation scores, and credit/budget info (`limit_info`).

        Parameters
        ----------
        unique_id : str
            The unique ID of the log to get.

        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveSpanResponse
            Successful response for Retrieve span

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.spans.retrieve_span(
            unique_id="unique_id",
            authorization="Bearer sk_live_xxxxx",
        )
        """
        _response = self._raw_client.retrieve_span(
            unique_id, authorization=authorization, request_options=request_options
        )
        return _response.data

    def update_span(
        self,
        unique_id: str,
        *,
        authorization: str,
        is_pinned: typing.Optional[bool] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        note: typing.Optional[str] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Update mutable fields of a span. Supports pinning for infinite retention, user feedback, text annotations, and metadata (merged with existing metadata).

        Parameters
        ----------
        unique_id : str
            The unique identifier of the span

        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        is_pinned : typing.Optional[bool]
            Pin the span for infinite retention.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative, `null` = clear.

        note : typing.Optional[str]
            Free-text annotation on the span.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Metadata to merge into existing span metadata.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from respan import RespanClient

        client = RespanClient()
        client.spans.update_span(
            unique_id="unique_id",
            authorization="Bearer sk_live_xxxxx",
        )
        """
        _response = self._raw_client.update_span(
            unique_id,
            authorization=authorization,
            is_pinned=is_pinned,
            positive_feedback=positive_feedback,
            note=note,
            metadata=metadata,
            request_options=request_options,
        )
        return _response.data

    def get_spans_summary(
        self,
        *,
        authorization: str,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[str] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetSpansSummaryResponse:
        """
        Get aggregated statistics for spans matching the given filters. Uses the same filters and query parameters as [List spans](/docs/apis/spans/api-request-logs-list).

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[str]
            Filter by environment.

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetSpansSummaryResponse
            Summary statistics for matching spans.

        Examples
        --------
        import datetime

        from respan import RespanClient

        client = RespanClient()
        client.spans.get_spans_summary(
            authorization="Bearer sk_live_xxxxx",
            start_time=datetime.datetime.fromisoformat(
                "2025-01-01 00:00:00+00:00",
            ),
            end_time=datetime.datetime.fromisoformat(
                "2025-01-31 23:59:59+00:00",
            ),
            environment="production",
        )
        """
        _response = self._raw_client.get_spans_summary(
            authorization=authorization,
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            filters=filters,
            request_options=request_options,
        )
        return _response.data


class AsyncSpansClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawSpansClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawSpansClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawSpansClient
        """
        return self._raw_client

    async def create_span(
        self,
        *,
        authorization: str,
        model: str,
        log_type: typing.Optional[CreateSpanRequestLogType] = OMIT,
        input: typing.Optional[CreateSpanRequestInput] = OMIT,
        output: typing.Optional[CreateSpanRequestOutput] = OMIT,
        messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        prompt_messages: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        completion_message: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        usage: typing.Optional[CreateSpanRequestUsage] = OMIT,
        cost: typing.Optional[float] = OMIT,
        latency: typing.Optional[float] = OMIT,
        time_to_first_token: typing.Optional[float] = OMIT,
        tokens_per_second: typing.Optional[float] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        properties: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        variables: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        customer_identifier: typing.Optional[str] = OMIT,
        customer_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        thread_identifier: typing.Optional[str] = OMIT,
        custom_identifier: typing.Optional[str] = OMIT,
        group_identifier: typing.Optional[str] = OMIT,
        trace_unique_id: typing.Optional[str] = OMIT,
        span_workflow_name: typing.Optional[str] = OMIT,
        span_name: typing.Optional[str] = OMIT,
        span_parent_id: typing.Optional[str] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_choice: typing.Optional[CreateSpanRequestToolChoice] = OMIT,
        response_format: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        stop: typing.Optional[CreateSpanRequestStop] = OMIT,
        status_code: typing.Optional[int] = OMIT,
        error_message: typing.Optional[str] = OMIT,
        warnings: typing.Optional[CreateSpanRequestWarnings] = OMIT,
        status: typing.Optional[CreateSpanRequestStatus] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        prompt_id: typing.Optional[str] = OMIT,
        prompt_name: typing.Optional[str] = OMIT,
        is_custom_prompt: typing.Optional[bool] = OMIT,
        timestamp: typing.Optional[dt.datetime] = OMIT,
        start_time: typing.Optional[dt.datetime] = OMIT,
        full_request: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        full_response: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        prompt_unit_price: typing.Optional[float] = OMIT,
        completion_unit_price: typing.Optional[float] = OMIT,
        respan_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        keywordsai_params: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateSpanResponse:
        """
        Create a span via the logging API. This is the standard create endpoint. `/api/request-logs/create/` remains supported as a legacy alias. Prefer universal `input` and `output` fields; legacy chat fields like `messages`, `prompt_messages`, and `completion_message` are still accepted for backward compatibility. Respan-specific controls can be sent at the top level or nested under `respan_params`.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        model : str
            Model used for the span.

        log_type : typing.Optional[CreateSpanRequestLogType]
            Type of span. Determines how `input` and `output` are parsed.

        input : typing.Optional[CreateSpanRequestInput]
            Preferred universal input field. For chat spans, send an array of message objects or a JSON string. For non-chat spans, send any string/object/array structure that represents the span input.

        output : typing.Optional[CreateSpanRequestOutput]
            Preferred universal output field. For chat spans, send an assistant message object or a JSON string. For non-chat spans, send any string/object/array structure that represents the span output.

        messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Legacy chat input field. Equivalent to `prompt_messages`; prefer `input` for new integrations.

        prompt_messages : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Legacy chat input field. Prefer `input` for new integrations.

        completion_message : typing.Optional[typing.Dict[str, typing.Any]]
            Legacy chat output field. Prefer `output` for new integrations.

        usage : typing.Optional[CreateSpanRequestUsage]
            Token usage for the request.

        cost : typing.Optional[float]
            Cost in USD. Auto-calculated from model pricing if omitted.

        latency : typing.Optional[float]
            Total request latency in seconds.

        time_to_first_token : typing.Optional[float]
            Time to first token in seconds.

        tokens_per_second : typing.Optional[float]
            Generation speed in tokens per second.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Arbitrary key-value pairs for your reference.

        properties : typing.Optional[typing.Dict[str, typing.Any]]
            Typed metadata that preserves native JSON types.

        variables : typing.Optional[typing.Dict[str, typing.Any]]
            Variables used for prompt templates.

        customer_identifier : typing.Optional[str]
            Identifier for the end user who made this request.

        customer_params : typing.Optional[typing.Dict[str, typing.Any]]
            Extended customer information.

        thread_identifier : typing.Optional[str]
            Conversation thread ID for multi-turn conversations.

        custom_identifier : typing.Optional[str]
            Indexed custom identifier for fast querying.

        group_identifier : typing.Optional[str]
            Groups related spans together.

        trace_unique_id : typing.Optional[str]
            Trace ID to link spans into a trace tree.

        span_workflow_name : typing.Optional[str]
            Name of the parent workflow.

        span_name : typing.Optional[str]
            Name of this span within the workflow.

        span_parent_id : typing.Optional[str]
            Parent span ID. Builds the trace hierarchy.

        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tools available to the model (OpenAI function calling format).

        tool_choice : typing.Optional[CreateSpanRequestToolChoice]
            Controls tool selection. `"none"`, `"auto"`, or a specific tool object.

        response_format : typing.Optional[typing.Dict[str, typing.Any]]
            Response format configuration (e.g. JSON mode or structured output).

        temperature : typing.Optional[float]
            Sampling temperature (0-2). Higher = more random.

        top_p : typing.Optional[float]
            Nucleus sampling parameter.

        frequency_penalty : typing.Optional[float]
            Penalizes repeated tokens (-2 to 2).

        presence_penalty : typing.Optional[float]
            Penalizes tokens already present (-2 to 2).

        max_tokens : typing.Optional[int]
            Maximum tokens to generate.

        stop : typing.Optional[CreateSpanRequestStop]
            Stop sequence or sequences where generation halts.

        status_code : typing.Optional[int]
            HTTP status code of the request.

        error_message : typing.Optional[str]
            Error message if the request failed.

        warnings : typing.Optional[CreateSpanRequestWarnings]
            Warnings from the request.

        status : typing.Optional[CreateSpanRequestStatus]
            Request status.

        stream : typing.Optional[bool]
            Whether the response was streamed.

        prompt_id : typing.Optional[str]
            ID of the Respan prompt template used.

        prompt_name : typing.Optional[str]
            Name of the prompt template.

        is_custom_prompt : typing.Optional[bool]
            Set `true` when using a custom `prompt_id`.

        timestamp : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request completed.

        start_time : typing.Optional[dt.datetime]
            ISO 8601 timestamp when the request started.

        full_request : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw request object for reference.

        full_response : typing.Optional[typing.Dict[str, typing.Any]]
            Full raw response object from the provider.

        prompt_unit_price : typing.Optional[float]
            Custom price per 1M prompt tokens (for self-hosted/fine-tuned models).

        completion_unit_price : typing.Optional[float]
            Custom price per 1M completion tokens (for self-hosted/fine-tuned models).

        respan_params : typing.Optional[typing.Dict[str, typing.Any]]
            Preferred namespace for Respan-specific controls such as customer tagging, metadata, prompt loading, cache settings, and logging flags.

        keywordsai_params : typing.Optional[typing.Dict[str, typing.Any]]
            Legacy alias for `respan_params`. Still accepted and merged into `respan_params`.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateSpanResponse
            Span created successfully

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.spans.create_span(
                authorization="Bearer sk_live_xxxxx",
                model="gpt-4o-mini",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_span(
            authorization=authorization,
            model=model,
            log_type=log_type,
            input=input,
            output=output,
            messages=messages,
            prompt_messages=prompt_messages,
            completion_message=completion_message,
            usage=usage,
            cost=cost,
            latency=latency,
            time_to_first_token=time_to_first_token,
            tokens_per_second=tokens_per_second,
            metadata=metadata,
            properties=properties,
            variables=variables,
            customer_identifier=customer_identifier,
            customer_params=customer_params,
            thread_identifier=thread_identifier,
            custom_identifier=custom_identifier,
            group_identifier=group_identifier,
            trace_unique_id=trace_unique_id,
            span_workflow_name=span_workflow_name,
            span_name=span_name,
            span_parent_id=span_parent_id,
            tools=tools,
            tool_choice=tool_choice,
            response_format=response_format,
            temperature=temperature,
            top_p=top_p,
            frequency_penalty=frequency_penalty,
            presence_penalty=presence_penalty,
            max_tokens=max_tokens,
            stop=stop,
            status_code=status_code,
            error_message=error_message,
            warnings=warnings,
            status=status,
            stream=stream,
            prompt_id=prompt_id,
            prompt_name=prompt_name,
            is_custom_prompt=is_custom_prompt,
            timestamp=timestamp,
            start_time=start_time,
            full_request=full_request,
            full_response=full_response,
            prompt_unit_price=prompt_unit_price,
            completion_unit_price=completion_unit_price,
            respan_params=respan_params,
            keywordsai_params=keywordsai_params,
            positive_feedback=positive_feedback,
            request_options=request_options,
        )
        return _response.data

    async def list_spans(
        self,
        *,
        authorization: str,
        operator: ListSpansRequestOperator,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        sort_by: typing.Optional[str] = None,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[str] = None,
        is_test: typing.Optional[ListSpansRequestIsTest] = None,
        all_envs: typing.Optional[ListSpansRequestAllEnvs] = None,
        fetch_filters: typing.Optional[ListSpansRequestFetchFilters] = None,
        include_fields: typing.Optional[str] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[typing.Dict[str, typing.Any], ListSpansResponse]:
        """
        Retrieve spans matching the specified filters with pagination. Supports filtering by any span field, URL-based quick filters, and sorting by evaluator scores. See [Filters API Reference](/docs/apis/reference/filters-api-reference) for full filter syntax.

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        operator : ListSpansRequestOperator
            Logical operator to combine filters.

        page : typing.Optional[int]
            Page number.

        page_size : typing.Optional[int]
            Results per page (max 1000).

        sort_by : typing.Optional[str]
            Field to sort by. Prefix `-` for descending.

        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[str]
            Filter by environment.

        is_test : typing.Optional[ListSpansRequestIsTest]
            Filter by test/production spans.

        all_envs : typing.Optional[ListSpansRequestAllEnvs]
            Include spans from all environments.

        fetch_filters : typing.Optional[ListSpansRequestFetchFilters]
            Return available filter options in the response. May slow response.

        include_fields : typing.Optional[str]
            Comma-separated list of fields to include in each span. Reduces response size.

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[typing.Dict[str, typing.Any], ListSpansResponse]
            Successful response for List spans

        Examples
        --------
        import asyncio
        import datetime

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            response = await client.spans.list_spans(
                authorization="Bearer sk_live_xxxxx",
                sort_by="-cost",
                start_time=datetime.datetime.fromisoformat(
                    "2025-01-01 00:00:00+00:00",
                ),
                end_time=datetime.datetime.fromisoformat(
                    "2025-01-31 23:59:59+00:00",
                ),
                environment="production",
                include_fields="customer_identifier,model,cost,latency",
                operator="AND",
            )
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list_spans(
            authorization=authorization,
            operator=operator,
            page=page,
            page_size=page_size,
            sort_by=sort_by,
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            is_test=is_test,
            all_envs=all_envs,
            fetch_filters=fetch_filters,
            include_fields=include_fields,
            filters=filters,
            request_options=request_options,
        )

    async def retrieve_span(
        self, unique_id: str, *, authorization: str, request_options: typing.Optional[RequestOptions] = None
    ) -> RetrieveSpanResponse:
        """
        Retrieve a span by its unique ID. Returns the full span including input, output, metrics, metadata, trace context, evaluation scores, and credit/budget info (`limit_info`).

        Parameters
        ----------
        unique_id : str
            The unique ID of the log to get.

        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RetrieveSpanResponse
            Successful response for Retrieve span

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.spans.retrieve_span(
                unique_id="unique_id",
                authorization="Bearer sk_live_xxxxx",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve_span(
            unique_id, authorization=authorization, request_options=request_options
        )
        return _response.data

    async def update_span(
        self,
        unique_id: str,
        *,
        authorization: str,
        is_pinned: typing.Optional[bool] = OMIT,
        positive_feedback: typing.Optional[bool] = OMIT,
        note: typing.Optional[str] = OMIT,
        metadata: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Update mutable fields of a span. Supports pinning for infinite retention, user feedback, text annotations, and metadata (merged with existing metadata).

        Parameters
        ----------
        unique_id : str
            The unique identifier of the span

        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        is_pinned : typing.Optional[bool]
            Pin the span for infinite retention.

        positive_feedback : typing.Optional[bool]
            User feedback. `true` = positive, `false` = negative, `null` = clear.

        note : typing.Optional[str]
            Free-text annotation on the span.

        metadata : typing.Optional[typing.Dict[str, typing.Any]]
            Metadata to merge into existing span metadata.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.spans.update_span(
                unique_id="unique_id",
                authorization="Bearer sk_live_xxxxx",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_span(
            unique_id,
            authorization=authorization,
            is_pinned=is_pinned,
            positive_feedback=positive_feedback,
            note=note,
            metadata=metadata,
            request_options=request_options,
        )
        return _response.data

    async def get_spans_summary(
        self,
        *,
        authorization: str,
        start_time: typing.Optional[dt.datetime] = None,
        end_time: typing.Optional[dt.datetime] = None,
        environment: typing.Optional[str] = None,
        filters: typing.Optional[Filters] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetSpansSummaryResponse:
        """
        Get aggregated statistics for spans matching the given filters. Uses the same filters and query parameters as [List spans](/docs/apis/spans/api-request-logs-list).

        Parameters
        ----------
        authorization : str
            Bearer token. Use `Bearer YOUR_API_KEY`.

        start_time : typing.Optional[dt.datetime]
            Start of time range (ISO 8601).

        end_time : typing.Optional[dt.datetime]
            End of time range (ISO 8601).

        environment : typing.Optional[str]
            Filter by environment.

        filters : typing.Optional[Filters]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetSpansSummaryResponse
            Summary statistics for matching spans.

        Examples
        --------
        import asyncio
        import datetime

        from respan import AsyncRespanClient

        client = AsyncRespanClient()


        async def main() -> None:
            await client.spans.get_spans_summary(
                authorization="Bearer sk_live_xxxxx",
                start_time=datetime.datetime.fromisoformat(
                    "2025-01-01 00:00:00+00:00",
                ),
                end_time=datetime.datetime.fromisoformat(
                    "2025-01-31 23:59:59+00:00",
                ),
                environment="production",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_spans_summary(
            authorization=authorization,
            start_time=start_time,
            end_time=end_time,
            environment=environment,
            filters=filters,
            request_options=request_options,
        )
        return _response.data
